/*** カテゴリー部分 ***/

/*--- カテゴリータグ ---*/
.tags1 {
	position: absolute;
	top: -3px;
	left: -6px;
	padding: 10px 15px;
	padding-right: 100px;
	font-size: max(1.5vw, 12px);
	color: #FFFFEE;
	background: linear-gradient(-45deg,transparent,transparent 25%,#F66 0%,#F66);
}
.tags1:before {
	position: absolute;
	z-index: 5;
	top: 100%;
	left: 0;
	content: ' ';
	border: 3px solid transparent;
	border-top: 3px solid #800;
	border-right: 3px solid #800;
}
.tags2 {
	position: absolute;
	top: -3px;
	left: -6px;
	padding: 10px 15px;
	padding-right: 100px;
	font-size: max(1.5vw, 12px);
	color: #FFFFEE;
	background: linear-gradient(-45deg,transparent,transparent 25%,#02E 0%,#02E);
}
.tags2:before {
	position: absolute;
	z-index: 5;
	top: 100%;
	left: 0;
	content: ' ';
	border: 3px solid transparent;
	border-top: 3px solid #026;
	border-right: 3px solid #026;
}
.tags3 {
	position: absolute;
	top: -3px;
	left: -6px;
	padding: 10px 15px;
	padding-right: 100px;
	font-size: max(1.5vw, 12px);
	color: #444;
	background: linear-gradient(-45deg,transparent,transparent 25%,#FE1 0%,#FE1);
}
.tags3:before {
	position: absolute;
	z-index: 5;
	top: 100%;
	left: 0;
	content: ' ';
	border: 3px solid transparent;
	border-top: 3px solid #FC1;
	border-right: 3px solid #FC1;
}




















/*-- 全てのカテゴリーを見る --*/
.all-category {
    background: #FFF;
    width: 20em;
    min-width: 150px;
    min-height: 32px;
    border: 1px solid #000;
}
.all-category span{
    font-size: 18px;
    color: #444;
}





/*** 風景一覧 ***/

/*-- 風景画像ヘッドライン --*/
.headline-view {
    font-size: max(3vw, 24px);
    position: relative;
    color: #444;
    border-bottom: solid 5px #666;
    padding: 0 30px;
    font-family: 'Yusei Magic', sans-serif;
}
.headline-view:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 5px #6F6;
    bottom: -5px;
    left: 0;
    width: 30%;
}

/*-- 風景一覧インデックス --*/
.view-index {
    padding: 1em 0.5em;
    border-radius: 15px;
    text-align: center;
}

/*-- 風景一覧画像調整 --*/
.view-list {
    max-width: 300px;
    height: 100%;
    background: rgba(0,0,0,0.7);
    color: #FFF;
    font-size: 1.2vw;
    transition: 1s;
}
.view-list img{
    width: 100%;
    max-height: 300px;
}
.view-list:hover {
    color: #FFF;
    text-decoration: none;
    background: rgba(11,223,144,0.6);
}

/*-- 風景タイトル --*/
.view-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin-bottom: 0;
}
@media(max-width: 599){
    .view-text {
        font-size: 14px;
    }
}
.view-text:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #FFF;
}

/*-- 風景投稿者 --*/
.view-user-name {
   position: absolute;
   top:0;
   background-color: rgba(0, 0, 0, 0.4);
   color: #FFF;
   font-size: 18px;
   margin: 0 5px;
}
@media(max-width: 599){
    .view-user-name {
        font-size: 14px;
    }
}




/*** 記事詳細プレビュー共通 ***/

/*-- 詳細タイトル --*/
.detail-title {
    margin: 0.2em auto 0.5em;
    font-size: max(3vw, 24px);
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
    width: 95%;
}
.detail-title:first-letter {
    font-size: max(4vw, 32px);
}

/*-- メイン画像の調整 --*/
.main-card {
    margin: 0 !important;
    padding: 0 !important;
    background-color: rosybrown;
    max-height: 100%;
}
/*--- 詳細記事画像 ---*/
.main-image {
    max-width: 100%;
    padding: 0;
    max-height: 100%;
    box-sizing: border-box;
}

/*-- 画面解説 --*/
.image-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}
@media(max-width: 599){
    .image-text {
        font-size: 14px;
    }
}
.image-text:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #FFF;
}

/*-- サブ画像の箱 --*/
.sub-box {
    margin: 0 !important;
    padding: 0 !important;
    height: 20vw;
    max-width: 20vw;
    margin: 0 auto;
}
/*-- サブ画像のサイズと余白 --*/
.sub-image {
    padding: 0;
    height: 20vw;
    max-width: 20vw;
}

/*-- 記事詳細ユーザー画像 --*/
.detail-profile-image {
    height: 7vw;
    min-height: 70px;
    width: 7vw;
    min-width: 70px;
    border-radius: 50%;
    border: solid 2px rgba(119, 195, 223, 0.5);
}

/*-- 記事詳細ユーザー名 --*/
.detail-profile-name {
    font-size: max(2.2vw, 20px);
    padding: 0 0.2em 0.2em 0.1em;
    color: #444;
}

/*-- 記事詳細投稿日時 --*/
.detail-news-date {
    font-size: max(1.5vw, 12px);
    color: #808080;
}

/*-- 記事詳細本文 --*/
.detail-text {
    min-height: 300px;
    font-size: 24px;
}
@media(max-width: 599){
    .detail-text {
        min-height: 300px;
        font-size: 16px;
    }
}

/*-- 外部リンクURL --*/
.url-box {
    padding: 0.5em 1em;
    margin: 1em 0; 
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px rgba(0,127,255,1);/*左線*/
    border-right: double 7px rgba(0,127,255,1);/*右線*/
    min-height: 100px;
    font-size: 20px;
}
@media(max-width: 599){
    .url-box {
        font-size: 14px;
    }
}


/*-- 文末メッセージ --*/
.url-box p {
    margin: 0; 
    padding: 0;
}

/*-- 記事詳細の下の投稿誘導欄 --*/
.post-box {
    text-align: center;
    padding: 1em 1em 2em;
    color: #444;
}

