/***全体部分***/

.main {
    margin: 0 !important;
    padding: 0 !important;
    background-color: rosybrown;
    height: 50vw;
}
.main-body {
    padding-right: 0;
}


/***左側部分***/

/*--- 一覧記事部分 ---*/
.article-index {
    padding: 1em 0.5em;
    border-radius: 15px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.article-index-card {
    width: 350px;
    height: 600px;
}
.article-index-card img{
    max-width: 350px;
    max-height: 400px;
}
.article-index-card .card-title {
    font-size: 1vw;
    background: rgb(232,247,6);
    background: linear-gradient(11deg, rgba(232,247,6,0.5) 0%, rgba(11,223,144,0.5) 33%, rgba(0,127,255,0.8) 100%);
}
.article-index-card .card-text {
    margin: 0 0.5em !important;
    font-size: 0.8vw;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;    
}
.article-index-card .news-tag {
    font-size: 0.8vw;
    padding: 0 0.5em;
}










/*--- 詳細記事上部 ---*/
.detail-title {
    margin: 1em auto 0.5em;
    font-size: 3vw;
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
    width: 95%;
}
.detail-title:first-letter {
    font-size: 4vw;
}

.detail-news-date {
    text-align: right;
    font-size: 1.2vw;
}

.category-name {
    font-size: 1.5vw;
}

.category-box {
    font-size: 1.8vw;
}



/*--- 詳細記事画像 ---*/
.main-image {
    padding: 0;
    height: 50vw;
    box-sizing: border-box;
}

.image-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5vw;
}
.image-text:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #FFF;
}


.sub {
    margin: 0 !important;
    padding: 0 !important;
    height: 20vw;
    max-width: 20vw;
    margin: 0 auto;
}
.sub-image {
    padding: 0;
    height: 20vw;
    max-width: 20vw;
}

.detail-profile-image {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
}

.detail-profile-name {
    font-size: 1.8vw;
    padding: 0 0.2em 0.2em 0.5em;
    border-bottom: rgba(119, 195, 223, 0.8) 3px dotted;
}

.detail-text {
    min-height: 300px;
}

.url-box {
    padding: 0.5em 1em;
    margin: 1em 0; 
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px rgba(0,127,255,1);/*左線*/
    border-right: double 7px rgba(0,127,255,1);/*右線*/
    min-height: 100px;
    font-size: 1.5vw;
}
.url-box p {
    margin: 0; 
    padding: 0;
}



/*--- 下側コンテンツ ---*/
.post-box {
    text-align: center;
    padding: 1em 1em 2em;
    margin: 1em auto;
    font-weight: bold;
    color: #000;
    background: #FFF;
    border: solid 3px rgba(0,127,255,1);
    border-radius: 10px;
}
