/***全体部分***/

.main {
    margin: 0 !important;
    padding: 0 !important;
    background-color: rosybrown;
    max-height: 100%;
}
.main-body {
    padding-right: 0;
}


/***左側部分***/

/*--- 一覧記事部分 ---*/
.article-index {
    padding: 1em 0.5em;
    border-radius: 15px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.article-index-card {
    width: 350px;
    height: 600px;
}
.article-index-card img{
    max-width: 350px;
    max-height: 400px;
}
.article-index-card .card-title {
    font-size: 1vw;
    background: rgb(232,247,6);
    background: linear-gradient(11deg, rgba(232,247,6,0.5) 0%, rgba(11,223,144,0.5) 33%, rgba(0,127,255,0.8) 100%);
}
.article-index-card .card-text {
    margin: 0 0.5em !important;
    font-size: 0.8vw;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;    
}
.article-index-card .news-tag {
    font-size: 0.8vw;
    padding: 0 0.5em;
}


.all-category {
    background: #FFF;
    width: 20em;
    min-width: 150px;
    min-height: 32px;
    border: 1px solid #000;
}

.all-category span{
    font-size: 1.5vw;
    color: #444;
}







/*--- 詳細記事上部 ---*/
.detail-title {
    margin: 0.2em auto 0.5em;
    font-size: max(3vw, 24px);
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
    width: 95%;
}
.detail-title:first-letter {
    font-size: max(4vw, 32px);
}

.detail-news-date {
    font-size: max(1.5vw, 12px);
}

.category-name {
    font-size: 1.5vw;
}

.category-box {
    font-size: 1.8vw;
}



/*--- 詳細記事画像 ---*/
.main-image {
    max-width: 100%;
    padding: 0;
    max-height: 100%;
    box-sizing: border-box;
}

.image-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.5vw;
}
.image-text:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #FFF;
}


.sub {
    margin: 0 !important;
    padding: 0 !important;
    height: 20vw;
    max-width: 20vw;
    margin: 0 auto;
}
.sub-image {
    padding: 0;
    height: 20vw;
    max-width: 20vw;
}



.detail-profile-image {
    height: 7vw;
    min-height: 70px;
    width: 7vw;
    min-width: 70px;
    border-radius: 50%;
    border: solid 2px rgba(119, 195, 223, 0.5);
}

.detail-profile-name {
    font-size: max(2.2vw, 20px);
    padding: 0 0.2em 0.2em 0.1em;
    color: #444;
}

.detail-text {
    min-height: 300px;
}

.url-box {
    padding: 0.5em 1em;
    margin: 1em 0; 
    color: #474747;
    background: whitesmoke;/*背景色*/
    border-left: double 7px rgba(0,127,255,1);/*左線*/
    border-right: double 7px rgba(0,127,255,1);/*右線*/
    min-height: 100px;
    font-size: 1.2vw;
}
.url-box p {
    margin: 0; 
    padding: 0;
}



/*--- 下側コンテンツ ---*/
.post-box {
    text-align: center;
    padding: 1em 1em 2em;
    color: #444;
}


/*--- プレビュー画面 ---*/
.preview-top {
  position: relative;
  padding: 0.6em;
  background: #a7d6ff;
  border-radius: 10px;
  text-align: center;
}

.preview-top:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #a7d6ff;
  width: 0;
  height: 0;
}

