.form-container {
    margin: 30px auto 100px;
}

.form-box {
    max-width: 600px;
    padding: 30px 70px;
    margin: 0 auto;
    border: solid 1px rgba(0,127,255,1);
    border-top: solid 10px rgba(0,127,255,1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.user-box {
    max-width: 800px;
    padding: 30px 70px;
    margin: 0 auto;
    border: solid 1px rgba(121,255,159,1);
    border-top: solid 10px rgba(121,255,159,1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.form-title {
    text-align: center;
    position: relative;
    padding: 0.2em 0;
}
.form-title:after {
    content: "";
    display: block;
    height: 10px;
    background: rgb(232,247,6);
    background: linear-gradient(11deg, rgba(232,247,6,1) 0%, rgba(11,223,144,1) 33%, rgba(0,127,255,1) 100%);
}

.form-button {
    width: 100px;
    height: 50px;
    margin: 0 auto 50px;
}


/*--- メッセージボード ---*/
.message-box {
    margin: 5rem auto 15em;
}

.form-text {
    font-size: 1.2vw;
    line-height: 2;
}

.goto-top {
    text-align: center;
}


.left-contents {
    margin-bottom: 50em !important;
}


/*---利用規約---*/
.btn-flat-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 10px rgba(0,127,255,1);
  border-right: solid 10px rgba(0,127,255,1);
  color: rgba(0,127,255,1);
  background: #e1f3ff;
  transition: .4s;
  padding: 16px;
  border-radius: 5px;
}

.btn-flat-vertical-border:hover {
  background: rgba(0,127,255,1);
  color: #FFF;
}

.input-box {
  text-align: center;
}
