/***左側部分***/

/*--- 最新記事見出し ---*/
.headline-top,
.headline-view {
    font-size: max(3vw, 24px);
    position: relative;
    color: #444;
    border-bottom: solid 5px #666;
    padding: 0 30px;
}
.headline-top:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 5px #02E;
    bottom: -5px;
    left: 0;
    width: 30%;
}
.headline-view:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 5px #6F6;
    bottom: -5px;
    left: 0;
    width: 30%;
}




/*--- ニュース記事トップ ---*/
.top-news {
    padding: 0 !important;
    margin:0 auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


.card-body {
    padding-top: 0;
    max-width: 100%;
}

.news-tag {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    padding: 0.5em 1em;
    font-size: 1vw;
    color: #FFF;
    border-radius: 0px;
    background: rgba(255,0,0,0.8);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

/*--- カテゴリータグ ---*/
.tags1 {
	position: absolute;
	top: -3px;
	left: -6px;
	padding: 10px 15px;
	padding-right: 100px;
	font-size: max(1.5vw, 12px);
	color: #FFFFEE;
	background: linear-gradient(-45deg,transparent,transparent 25%,#F66 0%,#F66);
}
.tags1:before {
	position: absolute;
	z-index: 5;
	top: 100%;
	left: 0;
	content: ' ';
	border: 3px solid transparent;
	border-top: 3px solid #800;
	border-right: 3px solid #800;
}
.tags2 {
	position: absolute;
	top: -3px;
	left: -6px;
	padding: 10px 15px;
	padding-right: 100px;
	font-size: max(1.5vw, 12px);
	color: #FFFFEE;
	background: linear-gradient(-45deg,transparent,transparent 25%,#02E 0%,#02E);
}
.tags2:before {
	position: absolute;
	z-index: 5;
	top: 100%;
	left: 0;
	content: ' ';
	border: 3px solid transparent;
	border-top: 3px solid #026;
	border-right: 3px solid #026;
}
.tags3 {
	position: absolute;
	top: -3px;
	left: -6px;
	padding: 10px 15px;
	padding-right: 100px;
	font-size: max(1.5vw, 12px);
	color: #444;
	background: linear-gradient(-45deg,transparent,transparent 25%,#FE1 0%,#FE1);
}
.tags3:before {
	position: absolute;
	z-index: 5;
	top: 100%;
	left: 0;
	content: ' ';
	border: 3px solid transparent;
	border-top: 3px solid #FC1;
	border-right: 3px solid #FC1;
}



.card-img-top {
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    height: 35em;
    
}

.top-title {
    margin: 0 auto 0.5em;
    font-size: max(3vw, 24px);
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
    width: 95%;
}
.top-title:first-letter {
    font-size: max(3.5vw, 32px);
}

.top-news-date {
    font-size: max(1.8vw, 12px);
}

.top-profile-img {
    height: 6vw;
    min-height: 70px;
    width: 6vw;
    min-width: 70px;
    border-radius: 50%;
    border: solid 2px rgba(119, 195, 223, 0.5);
}


.top-news-profile {
    font-size: max(2vw, 16px);
    color: #444;
    padding: 0 0.2em 0em 0.3em;
}
.top-news-profile:hover {
    border-bottom: none;
}

.top-text {
    margin-top: 1em;
    font-size: 1.5vw;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}


/*--- ２〜４個目のニュース ---*/
.next-news {
    padding: 0 !important;
    margin:1em 2px !important;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px !important;
    max-width: 500px;
}


.card-img-next {
    margin: 0 auto;
    width: auto;
    width: 100%;
    height: 20rem;
}

.next-title {
    margin: 0.5em auto 0.5em;
    font-size: max(2vw, 20px);
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
    width: 95%;
}
.next-title:first-letter {
    font-size: max(2.5vw, 28px);
}

.next-news-date {
    font-size: max(1.2vw, 12px);
}
.next-profile-img {
    height: 5vw;
    min-height: 60px;
    width: 5vw;
    min-width: 60px;
    border-radius: 50%;
    border: solid 2px rgba(119, 195, 223, 0.5);
}

.next-news-profile {
    font-size: max(1.8vw, 14px);
    padding: 0 0.2em 0.2em 0;
    color: #444;
}

.next-text {
    margin-top: 1em;
    font-size: 1vw;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}


/*--- 投稿まだなし ---*/
.null-data {
    text-align: center;
    font-size: 2vw;
}
.null-btn {
    margin-bottom: 150px;
}


/*--- トップページ風景画像欄 ---*/
.view-container {
    padding: 0.5em;
    border-radius: 15px;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.view-container .card-title {
    padding-top: 0.5em;
}

.photo-card {
    background: rgba(0,0,0,0.7);
    color: #FFF;
    transition: 1s;
}

.photo-card:hover {
    font-size: 1vw;
    color: #000;
    text-decoration: none;
    background: rgba(11,223,144,0.6);
}



/*--- 風景一覧ページ ---*/
.view-index {
    padding: 1em 0.5em;
    border-radius: 15px;
    text-align: center;
    margin-left: 2em;
}

.view-list {
    max-width: 300px;
    height: 100%;
    background: rgba(0,0,0,0.7);
    color: #FFF;
    font-size: 1.2vw;
    transition: 1s;
}
.view-list img{
    width: 100%;
    max-height: 300px;
}

.view-image {
    max-width: 240px;
    max-height: 240px;
}
.view-list:hover {
    color: #FFF;
    text-decoration: none;
    background: rgba(11,223,144,0.6);
}

.view-text {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2vw;
    margin-bottom: 0;
}
.view-text:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #FFF;
}


