/*** 全体で使う ***/

/*-- もっと見るボタン --*/
.more-btn {
    width: 200px;
    height: 100px;
}
.more-btn:hover {
    opacity: 0.8;
}

/*-- 投稿まだなし --*/
.null-data {
    text-align: center;
    font-size: 2vw;
}
.null-btn {
    margin-bottom: 150px;
}





/*** カードを調整 ***/

/*-- カード画像をサイズ調整 --*/
.card-img-top {
    margin: 0 auto;
    width: 100%;
    max-heignt: 35em;
}
.card-img-next {
    margin: 0 auto;
    width: 100%;
    max-heignt: 30em;
}

/*-- カード本文を調整 --*/
.card-body {
    padding-top: 0;
    max-width: 100%;
}

/*-- カードタイトルを調整 --*/
.card-title {
    padding-top: 0.5em;
}





/*** トップ記事 ***/

/*-- 最新記事見出し --*/
.headline-top {
    font-size: max(3vw, 24px);
    position: relative;
    color: #444;
    border-bottom: solid 5px #666;
    padding: 0 30px;
    font-family: 'Yusei Magic', sans-serif;
}
.headline-top:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 5px #02E;
    bottom: -5px;
    left: 0;
    width: 30%;
}

/*-- トップ記事の外枠 --*/
.top-news {
    padding: 0 !important;
    margin:0 auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

/*-- トップ記事の更新日時 --*/
.top-news-date {
    font-size: max(1.8vw, 12px);
    color: #808080;
}

/*-- トップ記事のタイトル --*/
.top-title {
    margin: 0 auto 0.5em;
    font-size: max(3vw, 24px);
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
    width: 95%;
}
.top-title:first-letter {
    font-size: max(3.5vw, 32px);
}

/*-- トップ記事のユーザー画像 --*/
.top-profile-img {
    height: 6vw;
    min-height: 70px;
    width: 6vw;
    min-width: 70px;
    border-radius: 50%;
    border: solid 2px rgba(119, 195, 223, 0.5);
}

/*-- トップ記事のユーザー名 --*/
.top-news-profile {
    font-size: max(2vw, 16px);
    color: #444;
    padding: 0 0.2em 0em 0.3em;
}
.top-news-profile:hover {
    border-bottom: none;
}

/*-- トップ記事本文 --*/
.top-text {
    margin-top: 1em;
    font-size: 1.5vw;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}





/*** 記事リスト ***/

/*-- 記事リストの外枠 --*/
.next-news {
    padding: 0 !important;
    margin:1em 2px !important;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px !important;
    max-width: 500px;
}

/*-- 記事リストの更新日時 --*/
.next-news-date {
    font-size: max(1.2vw, 12px);
    color: #808080;
}

/*-- 記事リストのタイトル --*/
.next-title {
    margin: 0.5em auto 0.5em;
    font-size: max(2vw, 20px);
    background: linear-gradient(transparent 70%, #a7d6ff 70%);
    width: 95%;
}
.next-title:first-letter {
    font-size: max(2.5vw, 28px);
}

/*-- 記事リストのユーザー画像 --*/
.next-profile-img {
    height: 5vw;
    min-height: 60px;
    width: 5vw;
    min-width: 60px;
    border-radius: 50%;
    border: solid 2px rgba(119, 195, 223, 0.5);
}

/*-- 記事リストのユーザー名 --*/
.next-news-profile {
    font-size: max(1.8vw, 14px);
    padding: 0 0.2em 0.2em 0;
    color: #444;
}

/*-- 記事リスト本文 --*/
.next-text {
    margin-top: 1em;
    font-size: 1vw;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
