/*** 背景色 ***/
body {
    /*background: url(/assets/images/b054.jpg);*/
    /*background-color: #FDD;*/
    /*background-color: #DCDCDC;*/
    background-color: #FFF;
}
/*** フォント ***/
body {
    font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
    /*font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";*/
}





/*** 上部バー ***/

/*--- トップバー幅と背景色 ---*/
.top-bar {
    display: flex;
    padding: 0;
    max-height: 100%;
    background: rgb(232,247,6);
    background: linear-gradient(11deg, rgb(232,247,6) 0%, rgb(11,223,144) 25%, rgb(0,127,255) 100%);
}

/*--- ハンバーガーメニュー ---*/
.fa-bars {
    padding-top: 0.3em;
    color: #000;
}

/*--- トップメニューカテゴリー ---*/
.top-nav {
    color: #000;
    margin: 0 0 0.5em 1em;
    padding-bottom: 0;
}
.top-nav:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #FFF;
}

/*--- ドロップダウンホバー ---*/
.dropdown-item:hover {
    background: rgb(232,247,6);
    background: linear-gradient(11deg, rgba(232,247,6,1) 0%, rgba(11,223,144,1) 33%, rgba(0,127,255,1) 100%);
    opacity: 0.7;
}


/*** ロゴ・背景画面 ***/

/*--- カルーセル１ ---*/
.title-bar-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    height: 100%;
    background-image: url(/assets/images/2222.JPG);
    background-size: cover;
    background-position: bottom ;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    color: #000;
}
.title-bar-1:hover {
    text-decoration: none;
    color: #000;

/*--- カルーセル2 ---*/
}
.title-bar-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    height: 100%;
    background-image: url(/assets/images/kearashi.jpg);
    background-size: cover;
    background-position: center;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    color: #000;
}
.title-bar-2:hover {
    text-decoration: none;
    color: #000;
}

/*--- カルーセル3 ---*/
.title-bar-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    height: 100%;
    background-image: url(/assets/images/yakei.jpg);
    background-size: cover;
    background-position: center;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    color: #000;
}
.title-bar-3:hover {
    text-decoration: none;
    color: #000;
}

/*--- メインロゴ ---*/
.main-logo {
    text-align: center;
    font-size: 6vw;
}

/*--- サブタイトル ---*/
.sub-title {
    text-align: center;
    font-size: 3vw;
}


/*** カテゴリーボタン ***/
/*--- カテゴリー大枠 ---*/
.category {
    background: rgb(232,247,6);
    background: linear-gradient(11deg, rgb(232,247,6) 0%, rgb(11,223,144) 33%, rgb(0,127,255) 100%);
}

/*--- カテゴリー各項目 ---*/
.category-name {
    color: #000;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding: 0;
    transition: 3s;
    position: relative;
}
.k-job {
    border-left: 1px solid #FFF;
}
/*--- カテゴリー装飾 ---*/
.category-name:hover:before {
    transform: scale(1);
}
.category-name:hover {
    color: #000;
}
.category-name:before {
    content: "";
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 0.8vw;
	transform: scale(0, 1);
	transform-origin: left;
	transition: 2s;
	opacity: 0.8;
}
/*--- カテゴリー別アンダーライン ---*/
.k-job:before {
    background: #F66;
}
.k-food:before {
    background: #02E;
}
.k-life:before {
    background: #FE1;
}
.k-view:before {
    background: #6F6;
}

/*--- カテゴリーフォントサイズ ---*/
.category-tags {
    text-align: center;
    font-size: 1vw;
    transition: 2s;
    padding: 0;
}
.category-tags span {
    font-size: 2.5vw;
}



/*** 右側部分 ***/
.right-contents {
    justify-content: center;
}

/*--- 投稿ボタン ---*/
.main-btn {
    width: 150px;
    position: relative;
    top: 1em;
    left: 1em;
    padding: 0.5em 0.5em;
    margin: 0.5em 0.5em;
    text-decoration: none;
    background: rgba(0,127,255,1);
    color: #FFF;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2vw;
    transition: 1s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.main-btn:hover {
    color: #000;
    text-decoration: none;
    background: rgb(232,247,6);
    background: linear-gradient(11deg, rgba(232,247,6,1) 0%, rgba(11,223,144,1) 33%, rgba(0,127,255,1) 100%);
}


/*--- 概要説明 ---*/
.explanation {
    position: relative;
    top: 5em;
    margin-left:1em; 
    padding: 0.5em 1em;
    border: solid 3px rgba(0,127,255,1);
    border-radius: 0 5px 5px 5px;
    background-color: #FFF;
    line-height: 1.5;
    font-size: 1vw;
}
.exp-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: rgba(0,127,255,1);
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

/*--- Twitter欄 ---*/
.twitter {
    position: relative;
    top: 8em;
    margin-left:1em; 
    padding: 0.5em 1em;
    border: solid 3px rgba(0,127,255,1);
    border-radius: 0 5px 5px 5px;
    background-color: #FFF;
}
.twitter-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 30px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: rgba(0,127,255,1);
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}


/*** フッター ***/
.main-body {
    padding-bottom: 10em;
    padding-right: 3em;
}

footer {
    height: 3em;
    background: rgba(232,247,6, 1);
    background: linear-gradient(11deg, rgba(232,247,6,1) 0%, rgba(11,223,144,5) 33%, rgba(0,127,255,1) 100%);
}
.copywriter {
    padding-top: 0.6em;
}


/*--- トップページ ---*/
#page_top{
  width: 90px;
  height: 90px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  transition:1s;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #F80;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: #F80;
}

#page_top:hover {
    opacity: 1;
    background: #FFF;
    border-radius: 50%;
}