/*--- トップバー ---*/
.top-bar {
    display: flex;
    height: 100%;
    background: rgba(232,247,6, 0.5);
    background: linear-gradient(11deg, rgba(232,247,6,0.5) 0%, rgba(11,223,144,5) 25%, rgba(0,127,255,0.8) 100%);
  }

.fa-bars {
    padding-top: 0.3em;
    color: #F08000;
}

.profile-name {
    color: #000;
}
.profile-name:hover {
    color: #000;
}

.top-nav {
    color: #000 ;
    transition: 1s;
    margin: 0 0.5em;
}

.top-nav:hover {
    color:#000;
    text-decoration: none;
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
  }

.dropdown-item:hover {
    background: rgb(232,247,6);
    background: linear-gradient(11deg, rgba(232,247,6,1) 0%, rgba(11,223,144,1) 33%, rgba(0,127,255,1) 100%);
    opacity: 0.7;
}


/*--- フォームトップバー ---*/
.form-main-title {
    font-size: 2.5vw;
    color: #000;
    padding-bottom: 0;
}
.form-main-title:hover {
    text-decoration: none;
    color: #000;
}



/*--- ロゴ部分 ---*/
.title-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    height: 100%;
    background-image: url(/assets/images/bridge.jpeg);
    background-size: cover;
    background-position: center;
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
    color: #000;
}
.title-bar:hover {
    text-decoration: none;
    color: #000;
}

/* cal */
.title-bar-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    height: 100%;
    background-image: url(/assets/images/bridge.jpeg);
    background-size: cover;
    background-position: center;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    color: #000;
}
.title-bar-1:hover {
    text-decoration: none;
    color: #000;
}
.title-bar-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    height: 100%;
    background-image: url(/assets/images/kearashi.jpg);
    background-size: cover;
    background-position: center;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    color: #000;
}
.title-bar-2:hover {
    text-decoration: none;
    color: #000;
}
.title-bar-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    height: 100%;
    background-image: url(/assets/images/yakei.jpg);
    background-size: cover;
    background-position: center;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:lighten;
    color: #000;
}
.title-bar-3:hover {
    text-decoration: none;
    color: #000;
}




.main-logo {
    text-align: center;
    font-size: 6vw;
}

.sub-title {
    text-align: center;
    font-size: 3vw;
}

/*--- カテゴリー部分 ---*/
.category {
    background: rgb(232,247,6);
    background: linear-gradient(11deg, rgba(232,247,6,0.5) 0%, rgba(11,223,144,0.5) 33%, rgba(0,127,255,0.8) 100%);
}

.category-list {
    text-align: center;
    font-size: 1.5vw;
    transition: 1s;
}
.category-list span {
    font-size: 2vw;
}
.category-list:hover {
    color:#FFF;
    text-decoration: none;
    background-color: rgba(255,255,255,1);
    border-radius: 30%;
}

.category-name {
    color: black;
}



/***右側部分***/
.right-contents {
    justify-content: center;
}

/*--- 投稿ボタン ---*/
.main-btn {
    width: 150px;
    position: relative;
    top: 1em;
    left: 1em;
    padding: 0.5em 0.5em;
    margin: 0.5em 0.5em;
    text-decoration: none;
    background: rgba(0,127,255,1);
    color: #FFF;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2vw;
    transition: 1s;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.main-btn:hover {
    color: #000;
    text-decoration: none;
    background: rgb(232,247,6);
    background: linear-gradient(11deg, rgba(232,247,6,1) 0%, rgba(11,223,144,1) 33%, rgba(0,127,255,1) 100%);
}


/*--- 概要説明 ---*/
.explanation {
    position: relative;
    top: 5em;
    margin-left:1em; 
    padding: 0.5em 1em;
    border: solid 3px rgba(0,127,255,1);
    border-radius: 0 5px 5px 5px;
    background-color: #FFF;
    line-height: 1.5;
    font-size: 1vw;
}
.exp-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: rgba(0,127,255,1);
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

/*--- Twitter欄 ---*/
.twitter {
    position: relative;
    top: 8em;
    margin-left:1em; 
    padding: 0.5em 1em;
    border: solid 3px rgba(0,127,255,1);
    border-radius: 0 5px 5px 5px;
    background-color: #FFF;
}
.twitter-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 30px;
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: rgba(0,127,255,1);
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}




/*----フッター---*/
.main-body {
    padding-bottom: 10em;
    padding-right: 3em;
}

footer {
    height: 3em;
    background: rgba(232,247,6, 1);
    background: linear-gradient(11deg, rgba(232,247,6,1) 0%, rgba(11,223,144,5) 33%, rgba(0,127,255,1) 100%);
}
.copywriter {
    padding-top: 0.6em;
}

