/*** MyProfile ***/

/*-- 自己紹介欄の枠 --*/
.my-profile-box {  
  margin: 15px 5vw;
  padding: 10px 0;
}

/*-- プロフィール画像 --*/
.my-profile-img img {
    height: 7vw;
    min-height: 70px;
    width: 7vw;
    min-width: 70px;
    margin-left: 30px;
    border-radius: 50%;
    border: solid 2px rgba(11,223,144,0.5);
}

/*-- ユーザー名 --*/
.my-profile-name {
    font-size: max(2.5vw, 16px);
    color: #444;
    margin-left: 0.5em;
    font-family: 'Yusei Magic', sans-serif;
}





/*** ユーザー記事欄 ***/

/*--- ユーザー記事未投稿時 ---*/
.user-article-box {
    background: #FFF;
    max-width: 500px;
    padding: 30px 70px;
    margin: 0 auto;
    border: solid 1px #02E;
    border-top: solid 10px #02E;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}





/*** ユーザー投稿写真 ***/

/*-- 風景未投稿時 --*/
.user-view-box {
    background: #FFF;
    max-width: 500px;
    padding: 30px 70px;
    margin: 0 auto;
    border: solid 1px rgba(121,255,159,1);
    border-top: solid 10px rgba(121,255,159,1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

/*-- 風景画像欄 --*/
.user-headline-view {
    margin-top: 10rem;
    text-align: center;
}

/*-- 風景タイトル --*/
.user-view-title {
    margin: 0 !important;
}

